/* You can add global styles to this file, and also import other style files */

/* < Global colors */
:root {
  --ligh-gray-color: #e2e2e2;
  --gray-color: #7a8183;
  --dark-gray-color: #737478;
  --blue-ppets-color: #11b3e3;
  --dark-blue-ppets-color: #0e81a4;
  --yellow-ppets-color: #fac646;
  --orange-ppets-color: #fea664;
  --green--ppets-color: #4cb978;
  --red--ppets-color: #ee473a;
  --purple-ppets-color: #b0448b;
  --ocean-blue-ppets-color: #0c3336;
  --light-green-ppets-color: #51b477;
  --white-color: #fff;
  --grey-color: #4d4d4d;
}

/* Global colors /> */

/* img hotel style */

.no-img-box {
  height: 120px;
  width: 160px;
  border: dashed 2px var(--dark-blue-ppets-color);
  color: var(--dark-blue-ppets-color);
  cursor: pointer;
}

.no-img-box:hover {
  border: dashed 2px var(--dark-blue-ppets-color);
  color: var(--dark-blue-ppets-color);
}

.select-img-box {
  height: 120px;
  width: 160px;
  border: solid 1px #e2e2e2;
}
.img-size {
  height: 100%;
  width: 100%;
}

.close-img {
  position: absolute;
  left: 335px;
  margin-top: -15px;
  cursor: pointer;
}
.close-img-2 {
  position: absolute;
  left: 170px !important;
  margin-top: -15px;
  cursor: pointer;
}

.camera-icon {
  width: 50px;
  height: auto;
  margin-left: calc(50% - 50px / 2);
}

/*Global styles bellow:*/

body {
  height: 100vh;
}

.btn-outline-primary:hover {
  color: var(--white-color);
  background-color: var(--blue-ppets-color);
  border-color: var(--blue-ppets-color);
}
.btn-outline-primary {
  color: var(--blue-ppets-color);
  border-color: var(--blue-ppets-color);
}
.btn-primary {
  color: var(--white-color);
  background-color: var(--blue-ppets-color);
  border-color: var(--blue-ppets-color);
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  color: var(--blue-ppets-color);
  background-color: var(--white-color);
  border-color: var(--blue-ppets-color);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: var(--white-ppets-color);
  background-color: var(--blue-ppets-color);
  border-color: var(--blue-ppets-color);
}

.btn-block-inline{
  display: block;
  width: 45%;
  margin-left: 5%;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--blue-ppets-color);
  background-color: var(--white-ppets-color);
  border-color: var(--blue-ppets-color);
}
.pl-n {
  margin-left: -15px;
}
.pt {
  padding-top: 10px;
}

.pb {
  padding-bottom: 10px;
}

.pl {
  padding-left: 10px;
}

.pr {
  padding-right: 10px;
}

.px {
  padding: 0 10px 0 10px;
}

.py {
  padding: 10px 0 10px 0;
}
.px-py {
  padding: 10px;
}
.px-py-2 {
  padding: 20px;
}

.mt {
  margin-top: 10px;
}

.mt-bootstrap {
  margin-top: 30px;
}

.mt2 {
  margin-top: 20px;
}

.mt-5 {
  margin-top: 50px;
}

.mt-7 {
  margin-top: 70px;
}

.mb {
  margin-bottom: 10px;
}

.mb4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml {
  margin-left: 10px;
}

.mr {
  margin-right: 10px;
}

.mx {
  margin: 0 10px 0 10px;
}

.mx-2 {
  margin: 0 20px 0 20px;
}
.my {
  margin: 10px 0 10px 0;
}

.my-2 {
  margin: 20px 0 20px 0;
}

.my-3 {
  margin: 40px 0 40px 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.font-small {
  font-size: small;
}

.font-x-small {
  font-size: x-small;
}

.font-large {
  font-size: x-large;
}

.font-bold {
  font-weight: 600;
}
.align-item {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.display-grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

/*sizes */

.vh-10 {
  height: 10vh;
}

.vh-20 {
  height: 20vh;
}

.vh-30 {
  height: 30vh;
}

.vh-40 {
  height: 40vh;
}

.vh-50 {
  height: 50vh;
}

.vh-60 {
  height: 60vh;
}

.vh-70 {
  height: 70vh;
}

.vh-80 {
  height: 80vh;
}

.vh-90 {
  height: 90vh;
}

.vh-100 {
  height: 100vh;
}
.uploader {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  z-index: 1;
  height: 120px;
  width: 160px;
}
.error-label-pattern {
  color: #da2227;
  font-weight: bolder;
}

.error-input-pattern {
  border-color: #da2227;
}
.control-label.required:after {
  color: #da2227;
  content: "*";
  position: absolute;
  margin-left: 5px;
}

.estrelas input[type="radio"] {
  display: none;
}
.estrelas label i.fa {
  font-size: 2.5em;
}
.estrelas label i.fa:before {
  content: "\f005";
  color: #fc0;
}
.estrelas input[type="radio"]:checked ~ label i.fa:before {
  color: #ccc;
}

.pointer {
  cursor: pointer;
}

.align-border {
  display: flex;
  align-items: center;
}
.align-text {
  text-align: center;
}

.align-content {
  display: grid;
  justify-content: center;
  align-content: center;
}

.p3 {
  padding: 20px 0;
}

.full-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  display: grid;
}

.select-btn {
  background-color: var(--blue-ppets-color);
  color: var(--white-color);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-weight: 600;
}
.not-select-btn {
  background-color: var(--ligh-gray-color);
  color: var(--dark-gray-color);
  display: flex;
  justify-content: center;
  padding: 15px 0;
  font-weight: 600;
}

.not-select-btn:hover {
  cursor: pointer;
  background-color: var(--ligh-gray-color);
  color: var(--white-color);
}
#ponta {
  width: 0px;
  height: 0;
  border-top: 0px solid;
  border-left: 15px solid var(--blue-ppets-color);
  border-bottom: 15px solid transparent;
  margin-left: 50px;
  rotate: inherit;
  rotate: (40deg);
  transform: rotate(225deg);
  margin-top: 30px;
  position: absolute;
  left: auto;
  align-content: revert-layer;
  display: flex;
  left: calc(50% + -115px / 2);
  z-index: 100;
}
.item-pf {
  display: grid;
  justify-content: center;
}

@media (max-width: 768px) {
  .full-img {
    display: none;
  }
}
.border {
  border: 2px solid gray;
  justify-content: center;
  align-content: center;
}

.input-style {
  height: 50px;
}
.box-login {
  height: 80vh;
}

/* new css for new designs  sign-in*/

.hide-scroll-vert {
  overflow-y: hidden;
}

.horizontal-bar {
  height: 1vh;
}
.rectangle-bar {
  height: 12.5vh !important;
}
.vertical-rectangle {
  top: 0;
  position: absolute;
  right: 0;
  height: 100vh;
  width: 1.5svh;
}

.blue-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--blue-ppets-color);
}

.yellow-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--yellow-ppets-color);
}

.orange-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--orange-ppets-color);
}

.green-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--green--ppets-color);
}

.red-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--red--ppets-color);
}

.purple-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--purple-ppets-color);
}

.ocean-blue-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--ocean-blue-ppets-color);
}

.light-green-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--light-green-ppets-color);
}
.white-rectangle {
  border-left: 1px solid var(--white-color);
  border-right: 1px solid var(--white-color);
  background-color: var(--white-color);
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  color: var(--blue-ppets-color);
  font-size: 14px;
}

div {
  color: var(--grey-color);
}

.login-routes {
  max-width: 275px;
}

.title-size {
  font-size: 2.3rem;
}

.big-text {
  color: var(--secundria, #c34d96);
  text-align: center;
  /* H2 - 44 */
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  /* 122.222% */
}

.medium-text {
  color: var(--cinza-1, #4d4d4d);
  text-align: center;
  /* H3 - 36 */
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 128.571% */
}

.small-text {
  color: var(--cinza-1, #4d4d4d);
  text-align: center;
  /* H4 - 20 */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.become-partner input,
.become-partner button,
#inputState {
  height: 45px;
}

.full {
  height: 100%;
}

@media (max-width: 767px) {
  /* Estilos a serem aplicados para telas menores que 768 pixels */
  /* Por exemplo: */
  .desktop-only {
    display: none !important;
  }
}

/* end here new css for new designs  sign-in*/

/*  new css for new designs  sign-up*/
.form-partner-box {
  height: 100vh;
}

.title-create-partner {
  color: var(--purple-ppets-color);
  margin-bottom: 3rem !important;
}

.dog-mascot {
  position: absolute;
  left: 20vh;
  bottom: 15vh;
}

.dog-mascot-right {
  position: absolute;
  left: 80vh;
  top: 25vh;
}

@media (max-width: 1368px) {
  /* Estilos a serem aplicados para telas menores que 768 pixels */
  /* Por exemplo: */

  .dog-mascot {
    display: none !important;
  }
}

.box-h {
  box-shadow: 2px 2px #ebebeb;
  border: 2px solid #60cced;
  border-radius: 5px;
}

.box-dc {
  box-shadow: 2px 2px #ebebeb;
  border: 2px solid #fbbe51;
  border-radius: 5px;
}

.box-dw {
  box-shadow: 2px 2px #ebebeb;
  border: 2px solid #f16d39;
  border-radius: 5px;
}

.box-p {
  box-shadow: 2px 2px #ebebeb;
  border: 2px solid #da2831;
  border-radius: 5px;
}

.box-os {
  box-shadow: 2px 2px #ebebeb;
  border: 2px solid #b44a93;
  border-radius: 5px;
}

.med-s {
  width: 130px;
  padding: 14px;
  text-align: center;
  height: 130px;
}

/*fluxo 2 */
.box-vm {
  margin-bottom: 5px;
  height: 50%;
}

.become-partner {
  text-align: -webkit-center;
}

.icon-card {
  height: 40px;
  width: 40px;
}

.txt-box {
  font-size: 14px;
  color: #717171;
}

.progress-bar {
  background-color: red; /* For browsers that do not support gradients */
  background: linear-gradient(270deg, #10b3e4 3.65%, #c34d96 100%);
}

.progress {
  font-size: 16px;
  border-radius: 124px;
  height: 25px;
}

.label-box {
  width: 100%;
  text-align: center;
}

.title-prbar {
  font-size: 13px;
  color: #717171;
}

/*part-2*/

.txt-box-1 {
  font-size: 13px;
  color: var(--grey-color);
}

.txt-box-2 {
  font-size: 12px;
  color: var(--grey-color);
}

.txt-box-3 {
  font-size: 14px;
  color: var(--grey-color);
}

/* slider btn */

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blue-ppets-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue-ppets-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lb-txt {
  color: var(--blue-ppets-color);
  font-weight: 600;
}

/*slider btn fim */

.icon-card-1 {
  height: 15px;
  width: 15px;
}

.box-img-input {
  height: 92px;
  width: 92px;
}

/**part4**/
.txt-area-partner {
  height: 200px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

/** PART 5**/

.box-medium-1-g {
  border-color: #717171;
  height: 110px;
}

.small-txt {
  font-size: 10px;
  color: #717171;
}

.box-medium-1-b {
  border-color: #10b3e4;
  height: 110px;
}

.small-txt-b {
  font-size: 10px;
  color: #10b3e4;
}

.small-text-b {
  font-weight: bolder;
  color: #10b3e4;
}

.box-medium-2-b {
  border-color: #10b3e4;
  height: 55px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-medium-2-g {
  border-color: #717171;
  height: 55px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.md-box-tittle {
  font-weight: normal;
  margin-bottom: 0;
}

/** 6 **/
.bm-first-block {
  justify-content: space-evenly;
}

/** BARRA-LATERAL **/
.lateral-bar span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #89939e;
}

.lateral-bar .h3-text {
  color: #c34d96;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.lateral-bar-menu {
  margin-top: 25px;
  margin-bottom: 25px;
}

.lateral-bar-menu span,
.lateral-bar-menu svg,
.lateral-bar-menu .h3-text {
  margin-left: 10px;
}

.upper-menu-bar div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #717171;
  text-decoration: underline;
}

/** EDIT-YOUR-PETS **/

.column-label{
  background-color: #fddff2;
}

.column-values{
  border: 2px solid #F2F2F2;
}